{% extends "bootstrap.html.twig" %}
{% block body %}
	<div class="container">
		<h1>
			User List</h1>

		<a href="{{ path("new_user") }}" class="btn btn-warning my-3">
			Ajouter un nouvel user</a>

		<table class="table table-striped align-middle">
			<thead>
				<tr>
					<th>#id</th>
					<th>email</th>
					<th>password</th>
					<th>pseudo</th>
					<th>date_creation</th>
				</tr>
			</thead>
			<tbody>
				{% for key, value in users %}
					<tr>
						<td>{{ value.id }}</td>
						<td>{{ value.email }}</td>
						<td>{{ value.password }}</td>
						<td>{{value.pseudo}}</td>
						<td>{{ value.dateCreation|date('d/m/Y') }}</td>
						<td>


							<a href="{{path("update_user" , { id : value.id}) }}" class="btn btn-secondary">modifier</a>
							<a href="{{path("delete_user" , { id : value.id}) }}" class="btn btn-danger ms-3">supprimer</a>

						</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>


	</div>
{% endblock %}

